<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xm.mapper.StudentMapper">

	<!-- 根据id查询 -->
	<select id="getById" parameterType="int" resultType="student">
	select * from student where id=#{id}
	</select>
	<!-- 查询所有 -->
	<select id="list" parameterType="int" resultType="student">
	select * from student
	</select>
	
	<!-- 插入一个学生 -->
	<insert id="insert" parameterType="student">
	insert into student(name) values(#{name})
	</insert>
	<!-- 主键回填的插入 -->
	<insert id="insertToId" parameterType="student" useGeneratedKeys="true" keyProperty="id">
	insert into student(name) values(#{name})
	</insert>
	
	<!-- 根据id修改学生信息 -->
	<update id="update" parameterType="student">
	update student set name=#{name} where id=#{id}
	</update>
	
	<!-- 根据id删除学生 -->
	<delete id="delete" parameterType="int">
	delete  from student where id=#{id}
	</delete>
	
	<resultMap type="student" id="studentMap">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
	</resultMap>
	
	<resultMap type="student" id="bookMap" extends="studentMap">
		<collection property="books" ofType="book">
			<id property="id" column="bid"/>
			<result property="name" column="bname"/>
			<result property="price" column="price"/>
		</collection>
	</resultMap>
	<!--根据id查询所有的书  -->
	<select id="selectBookById" parameterType="int" resultMap="bookMap">
	select a.*,b.id bid,b.name bname,b.price from student a,book b where a.id=b.sid and a.id=#{id};
	</select>
	
	<resultMap type="student" id="courseMap" extends="studentMap">
		<collection property="studentCourses" ofType="studentCourse">
			<result property="sorce" column="sorce"/>
			<collection property="courses" ofType="course">
				<id property="id" column="cid"/>
				<result property="name" column="cname"/>
			</collection>
		</collection>
	</resultMap>
	<!-- 根据学生id查询该学生选修的所有课程 -->
	<select id="selectCourseById" parameterType="int" resultMap="courseMap" >
		select a.*,b.sorce,c.id cid,c.name cname from student a,student_course b,course c where a.id=b.sid and b.cid=c.id and a.id=#{id}
	</select>
	
	<!-- 根据name查询 -->
	<select id="getByName" resultType="student">
	<!-- select * from student where name=#{name} -->
	select * from student where name=#{names}
	</select>
	<!-- 根据用户名和id同时查询 -->
	<select id="getStudentByIdAndName" resultType="student">
	select * from student where name=#{name} and id=#{id} 
	<!-- select * from student where name=#{param2} and id=#{param1}  -->
	</select>
</mapper>